{{#if resume.skills.length}}
    <section id="skills">
        <div class="header">
            <h2>Skills</h2>
        </div>
        <div class="info">
            {{#each resume.skills}}
                <div class="item">
                    {{#if name}}
                        <div class="name">
                            {{name}}
                        </div>
                    {{/if}} 
                    {{#if level}}
                        <div class="level">
                            <em>{{level}}</em>
                        </div>
                    {{/if}} 
                    {{#if keywords.length}}
                        <ul class="keywords">
                            {{#each keywords}}
                                <li>{{.}}</li>
                            {{/each}}
                        </ul>
                    {{/if}}
                </div>
            {{/each}}
        </div>
    </section>
{{/if}}