<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, minimal-ui">
        <title>{{#resume.basics}}{{name}}{{/resume.basics}}</title>
        <style>{{{css}}}</style>
    </head>
    <body>
        <div id="container">
            <div id="sidepanel">
                {{> basics}}
                <br/>
                {{> skills}}
            </div>
            <div id="content">
                {{#if resume.basics.summary}}
                {{resume.basics.summary}}
                {{/if}}
                {{> education}}
                {{> work}}
            </div>
        </div>
    </body>
</html>